[data-page-route="Customer Account"] .layout-side-section,
  [data-page-route="Customer Account"] .comment-box,
  [data-page-route="Customer Account"] .new-timeline:not(.comms),
  [data-page-route="Customer Account"] .sidebar-toggle-btn,
  [data-page-route="List/Customer Account/List"] .layout-side-section,
  [data-page-route="List/Customer Account/List"] .sidebar-toggle-btn {
  display: none;
}

[data-page-route="List/Customer Account/List"] .level-left {
  flex: 12;
}

[data-page-route="List/Customer Account/List"] .list-row-head .list-row-col.ellipsis.list-subject.level {
  margin-right: 0px;
}

.nav.navbar-nav > li > a {
  color: rgb(8, 53, 151);
}

.container {
  max-width: initial !important;
}
